body{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #222;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.main{
    width: 100%;
    height: auto;
    padding: 1rem;
}
.main h2{
    text-align: center;
    font-family: arial;
    margin: 1rem 0;
    margin-bottom: 0;
    font-size: 2rem;
}
section.contains{
    width: 100%;
    height: auto;
}
.contains form{ 
    width: 100%;
    padding: 1.3rem 0;
    padding-top: 0;
    display: flex;
}
.contains form .items{
    width: 45%;
    height: auto;
    padding: 1rem;
    margin: 10px;
    transform: scale(0.8);
    background: #000;
    border-radius: 30px;
}
.items .title{
    font-size: 1em;
    font-family: arial;
    text-align: center;
    color: #e6e6e6;
}
.items .forms{
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.item{
    width: 100%;
    height: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.item label{
    display: inline-block;
    width: 40%;
    text-align: left;
    font: normal bold 1.4rem arial;
    color:#d1d1d1;
    padding-left: 1rem;
    border-radius: 4px;
}
.item .element{
    display: flex;
    width: 40%;
}
.item .element label{
    display: block;
    margin: 20px;
    width: auto;
    padding: 0.7rem;
    cursor: pointer;
    text-align: left;
    transition: 0.3s;
    background: #fd7d0cc7;
}
.item .element label:hover{
    background: #ff7900;
    transition: 0.3s;
}
input[type='number']{
    width: 40%;
    height: 55px;
    border-radius: 3px;
    border: none;
    background: #1b1b1bc0;
    font-size: 1.5rem;
    color:#ff7900;
    padding: 0 10px;
}
input[type='radio']:checked + label{
    background: green;
}
input[type='radio']:checked + label:hover{
    background: green;
}
input[type='radio']{
    display: none;
}



